body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  h1, h2 {
    color: #fff9f9;
  }
  
  a {
    color: #3498db;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  