.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #fff;
  }
  
  .home-container h2 {
    color: #333;
    font-size: 2rem;
  }
  