.products-container {
    padding: 2rem;
}

.products-container h2{
    color: black;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card h3 {
    margin-top: 0;
    color: #333;
}

.product-card p {
    margin: 0.5rem 0;
}